
/* --- rte text editor */

.iframe-form-html1, .iframe-form-html2, .iframe-form-html3, .iframe-form-html4, .iframe-form-html5, .iframe-form-html6, .iframe-form-html7, .iframe-form-html8, .iframe-form-html9, .iframe-form-html10
{
  
}

.frameBody /* writing area */
{
  font-family: "Droid Sans", Candara, sans-serif;
  font-size: 18px;
  background-color: #eee;
  color: black;
  width: 580px;
  margin: 0;
  padding: 20px;
  border: 1px solid #bbb;
}

.frameBody p
{
  margin-bottom: 0px;
}

.rte-zone
{
  margin: 0;
  padding: 0;
  clear: both;
  display:block;
  width: 580px;
  height: 350px;
  background-color: #eee;
}

/* toolbar */

.rte-edm
{
    padding: 5px 0px 5px 0px;
}

.rte-toolbar
{ 
  overflow:hidden; 
}

.rte-toolbar a, .rte-toolbar a img 
{
  border:0;
}

.rte-toolbar p
{
  float:left;
  margin:0;
  padding-right:5px;
}
