
body,h1,h2,h3,textarea, td,th,li, div {
    font-family: "Droid sans", Candara, sans-serif;
    color: black;
    margin: 0px;
    padding: 0px;
    text-align:left;
}

body {
    background-color:#fff;
}

label {
    display:table;
    margin-top: 10px;

}
textarea, input {
    padding: 8px;
    margin-bottom: 3px;
    margin: 0px;
    font-size: 18px;
    border: 1px solid #ccc;
    background:#eee;
}


h1 {
    font-size: 17px;
    margin-top:35px;
    color:#666;
}

h2
{
    font-size: 15px;
    color: #777;
    margin-top: 1em;
    margin-bottom: 1em;
}

h3
{
    font-size: 11px;
    color: #777;
    padding-top:15px;
    padding-left: 10px;
}

img
{
    border:0px;
}

a:link, a:visited, a:active
{
    color: black;
    text-decoration: none;
}

#sortable li:hover
{
    background: #eee;
}

#iauth-div
{
    padding:20px;
}

#iauth-user
{
    display:block;
}

#iauth-pass
{
    display:block;
}

#iauth-submit
{
    padding-top:20px;
    display:block;
}

th
{
    background-color: #888;
    color: #fff;
    font-weight: bold;
    padding: 5px;
    text-align: left;
    font-size: 10px;
}

table
{
    border:0px;
    margin:0px;
    padding:10px 0px 0px 0px;
}




#ieditorTable
{
    margin-top:10px;
    padding:0px;
}

#ieditor td
{
    font-size: 0.82em;
    background-color: #fff;
    border: 1px dotted #ddd;
}

#ieditor thead, #ieditor tbody
{
    margin:0px;
    padding:0px;

}

#ieditorToolbar
{
    padding-bottom: 10px;
}

.changed {

    background-color: #eee;
}

td
{
    font-size: 15px;
    line-height: 25px;
    padding:7px;
    margin: 1px;
}

.add-item-div
{
    width: 100px;
    display: block;
    float:left;
    padding: 7px;
    margin: 2px;
    border: 1px solid #eee;
    height: 100px;
    text-align:center;
    vertical-align: middle;
}



.dashboard-title
{
    background: #ddd;
    padding: 10px;
    font-size: 15px;
    display:table-row;

}

.dashboard-box
{
    padding:4em;
    display:table-cell;
    float:left;
}

.dashboard-box div
{
    display:table-row;

}

.dashboard-box div div
{
    display:table-cell;
}

.dashboard-box a:hover
{
    color: gray;
}

.dash-author
{
    font-size: 0.80em;
    color: #999;
}

.dash-ts
{
    font-size: 11px;
    color: gray;
}



.td-integer
{
    text-align:right;
}

.td-bool
{
    text-align:center;
}

input[type=button]
{
    color: #fff;
    background-color: #bbb;
}

input[type=button]:hover, input[type=submit]:hover
{
    color: #777;
    background-color: #fff;
    cursor: pointer;
}

.htr {
    background-color: #eee;
}


a {
    color:black;
    padding:0px;
    margin:0px;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

li {
    list-style-type: none;
}





/* locate objects by id */

#searchbox {
    width: 70px;
    padding: 6px;
    margin-left: 15px;
    margin-top: 20px;
    background: white;
}

#formsearch {
    margin: 0px 0px 10px 0px;
}


/* ------ */


.hidden
{
    display:none;
}

.level1
{
    font-size:12px;
    background-color:lime;
    color:black;
    height:18px;
    width:65px;
    padding:1px;
}

.level2
{
    font-size:12px;
    background-color:gray;
    color: black;
    height:18px;
    width:65px;
    padding:1px;
}

.level1:hover, .level2:hover
{
    cursor: pointer;
}


#table_add
{
    display:table;
    width:240px;
    padding:10px;
    margin:0px 0px 0px 0px;
}

.add-item
{
    background-color:#eee;
    display:inline;
    width:300px;
    margin:5px;
    padding:10px;
    vertical-align:middle;
}





.search-div
{
    padding-left:20px;
    width:260px;
    padding-top:15px;
    padding-bottom:10px;
}

.search-div input
{
    color:#555;
    border-bottom:1px solid #ddd;
}




/* object list */

.main
{
    text-align:left;
    display:table;
    padding:15px 15px 15px 15px;
    width:100%;
    background: #fff;
}


/* browser top object */

.wrapper
{
    text-align:left;
    display:table;
    padding: 1em;
    width: 100%;
    background: #fff;

}

/*
.options-iframe
{
border:0px;
width:750px;
height:30px;
font-size:12px;
}
*/





.caixa-inserir
{
    width: 450px;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.caixa-inserir-option
{

}

.nomargin
{
    margin:0px;
    padding:0px;
}

.submit
{
    background-color:#444;
    color:white;
    padding:15px;
    margin:0px;
    padding:0px;
}



blockquote
{
    border: 1px dotted #999999;
    padding: 15px;
    background-color: #eee;
    margin: 15px 0px 15px 0px;
}

h3
{
    margin-left:5px;
    font-size: 16px;
}



.extra-a, .extra-a:link, .extra-a:visited
{
    font-size:11pt;
    font-weight: normal;
    color: darkblue;
}

.extra-a:hover
{
    color: #666;
}

.oid
{
    font-size: 9pt;
}

.login-wrap
{
    margin:auto;
    padding:40px;
    border: 1px solid #ddd;
    width: 250px;
}

.login-user, .login-pass, .login-submit
{
    padding:10px;
}



/* --- forms -- */

.form-code
{
    width: 97%;
    height: 450px;
}

.form-property-desc
{
    padding-top:12px;
}

.form-image-show
{
    display:table;
    padding: 3em;
    background: gray;
}

.editor-property-error
{
    color:red;
    font-weight:bold;
}

.error
{
    padding: 2em;
    margin: 2em;
    border: 1px solid #ddd;
}

.form-optional
{
    font-size:0.7em;
    font-weight:bold;
    color:#0263c2;
}

.form-textarea, .form-text
{
    width: 600px;
}

.form-textarea
{
    height: 250px;
}

.form-select
{
    font-size: 17px;
    padding:5px;
}

option
{
    font-size: 17px;
    padding:5px;
    height: 25px;
}

.form-integer, .form-smalltext
{
    width:180px;
}

/* object published / cut: */

.pub1, .cut1
{
    font-size: 0.80em;
    font-weight: 400;
    color: white;
    padding: 4px;
    background-color: gray;
    cursor:pointer;
}



/* object options */

.op, .cut0, .pub0, pub0:visited, .cut0:visited, .emptyop
{
    font-size: 0.80em;
    font-weight: 400;
    color: #888;
    padding: 4px 4px 4px 4px;
    background-color:white;
    line-height: 1em;
    cursor:pointer;
}

.op:hover, .pub0:hover, .cut0:hover, .cut1:hover, .pub1:hover {

    background-color: gray;
    color:white;
    cursor: pointer;
}

.emptyop {
    color: #eee;
    cursor: default;
    display:inline;
}






/* --- browser location */

.location
{
    border-bottom: 1px solid #eee;
    padding: 15px 15px 15px 15px;
    white-space: nowrap;
}

.location-back
{
    padding-right: 10px;
    display:inline;
    float:left;
}

.img-back
{
    display:block;
    float:left;
    padding-right: 15px;
}





/* --- object row */


.easyname
{
    display: inline;
    padding-left: 20px;
    white-space: normal;
    width: 350px;
}

.obj-icon
{
    display:block;
    float:left;
    padding-right: 10px;
}

.obj-title
{
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    vertical-align:middle;
    display:inline;
}



.object-div
{
    padding: 5px 5px 5px 5px;
    margin: 5px;
    border: 0px;
    display: table-row;
    background-color: transparent;
    width: 100%;
    cursor: default;

}

.object-info
{
    min-width: 400px;
    max-width: 990px;
    line-height: 1.2em;
}


.object-controls
{
    display: inline;
    background: transparent;
    vertical-align: middle;
    white-space: nowrap;
    float:left;
    min-width: 150px;
    white-space: nowrap;
}


.object-options
{
    display: inline;
    float:right;
}
.obj-info
{
    padding-left: 20px;
    font-size: 11px;
    display: inline;
    color: #aaa;
}


/* hidden paste menu */
.paste0
{
    display:none;
}

/* show paste menu */
.paste1
{
    display:block;
}




/* ----- left menu*/

.menu {
    display:block;
    width: 140px;
    padding-top:15px;
}

.menu-item {
    font-size: 14px;
    width: 140px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    color:#444;
    padding-left:15px;
    overflow:hidden;
}

.menu-item:hover {
    opacity: 0.5;
    cursor: pointer;
}

.link-add {
    font-size: 0.80em;
    padding-bottom: 12px;
    padding-left: 20px;
    width:100%;
    display:table-row;
}


.linkedList-ul {
    padding: 1em;
    background:#eee;
    margin-top:2em;
    margin-bottom: 2em;
    max-width: 600px;

}

.linkedList-ul li {
    border: 1px solid #ddd;
    padding:1em;


}

.linkedList-ul li:hover {
    background-color:white;
}

#ace-editor {
    width:90%;
    height: 350px;
}

#layout-options {
    padding: 2em;
    background: #eee;
    border: 1px solid #888;
    display:none;
    position:fixed;
    left: 30%;
    top: 20%;
}

#bread {
    width: 140px;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left:15px;
    margin-top:15px;
}

#bread div {
    margin-bottom: 5px;
}

#bread a {
    font-size: 0.85em;
    color:#777;
}

#bread a:hover {

    color: black;
}

#bread0 a{
    color: #ccc;
}

#bread1 a{
    color: #999;
}

#bread2 a{
    color: #555;
}

#bread3 a{
    color: #222;
}

#bread4 a{
    color: #000;
}

.form-buttons {
    padding: 15px 0px;
}

.form-html, .form-css, .ace_editor p, .ace_editor div {
    font-family: "Ubuntu Mono", Consolas, source-code-pro, monospace, "Lucida Sans Mono";
    width: 95%;
    height: 450px;
    font-size: 16px;
}

.form-html, .form-css {
    border: 1px solid #eee;
}

.ace_scrollbar {
    display: none !important;
}

.add-unused-objects {
    font-size: 0.85em;
    display: table;
    margin-top: 2em;
}

/* dragupload */

.dz-default, .dz-message, .dz-preview {
    display:none;
}